

.info__block {
    height: 30px;
}

.info__name {
    padding: 5px 0;
    float: left;
}

.info__date {
    float: left;
}

.dropdown {
    float: right;
}

.empty_list {
    padding: 30px;
    text-align: center;
}