{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="info">
    {% if not object_list %}
        <div class="empty_list">
            <span>You have no reminders yet!<br>It's time to add one!</span>
        </div>
    {% else %}
        <ul class="list-group">
            {% for object in object_list %}
          <li class="list-group-item">
              <div class="info__block">
                <div class="info__name">{{ object.name }}</div>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Edit</a></li>
                    <li><a class="dropdown-item" href="#">Remove</a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
                <div class="info__date">
                    <div>
                    <svg style="margin-bottom: 5px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                    {{ object.reminder_time }}</div>
                </div>
            </div>
          </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}